body{
    font-family: Verdana;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.images{
    width: 307px;
    margin-bottom: 22px;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(255, 255, 255), 
      rgba(0, 0, 0, 0)
    ) 1 10%;
}

.logo-image{
    width: 52px;
    height: 52px;
    background-image: url(/img/logo.png);
    cursor: pointer;
    margin-right: 15px;
}

.logo-image:hover{
    background-position: 56px 0;
}

.logo-image:hover+.company-name{
    color: rgb(255, 98, 0);
}

.company-name:hover {
    color: rgb(255, 98, 0);
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 69px;
}

.company-name{
    padding-top: 10px;
}

header{
    margin-top: 49px;
    margin-bottom: 48px;
    color: white;
    display: flex;
}

.milan{
    font-size: 29px;
    font-weight: bold;
    line-height: 0.72;
    cursor: pointer;
    transition: 0.2s;
}

.holidays{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    cursor: pointer;
    transition: 0.2s;
}

.contact-info{
    padding-top: 10px;
    margin-left: 665px;
    font-size: 18px;
    line-height: 1.17;
    text-align: right;
}

footer{
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 61px;
    margin-bottom: 20px;
}

.cards{
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.price{
    position: absolute;
    margin-top: 137px;
    margin-left: 2px;
    background-color: rgba(255, 98, 0,0.75);
    width: 278px;
    padding: 15px;
    opacity: 0;
    transition: 0.3s;
}

.details{
    display: flex;
    gap: 111px
}

.from{
    text-align: left;
    font-size: 10px;
    padding-bottom: 9px;
}

.cards:hover .price{
    opacity: 1;
}

.cards:hover .label{
    color: rgb(255, 98, 0);
}